/* global.css */

:root {
  color-scheme: dark light;
}

body {
  --bg: #fff;
  /* OC Gray 9 */
  --textNormal: #212529;
  --textTitle: #212529;
  /* OC Blue 6 */
  --textLink: #228be6;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
  font-family: system-ui, sans-serif;
}

body.dark {
  -webkit-font-smoothing: antialiased;
  /* OC Grey 9 */
  --bg: #212529;
  --textNormal: #dbe4ff;
  --textTitle: #fff;
  --hr: hsla(0, 0%, 100%, 0.2);
}

body.dark h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textTitle);
}

body.dark,
ul,
p,
blockquote {
  color: var(--textNormal);
}

blockquote {
  border-left-color: var(--textNormal);
}

figcaption {
  text-align: center;
  font-size: .9rem;
}

body.dark a {
  color: var(--textLink);
}
