/* global.css */

body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: #343a40;
  --textNormal: #dbe4ff;
  --textTitle: white;
  --textLink: #f03e3e;
  --hr: hsla(0, 0%, 100%, 0.2);
}

body.dark h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--textTitle);
}

body.dark span,
ul,
p {
  color: var(--textNormal);
}

body.dark a {
  color: var(--textLink);
}
